.idris {
	--name: "idris marangoz";
	--shadow: #342437;
	--midtone: #d8b4af;
	--highlight: #9767c2;
	--img: url(https://cdn.discordapp.com/attachments/567148569728122881/781136919186243594/tumblr_ogq22rNiT31tfanfvo2_1280_waifu2x_art_noise3_tta_1.png) -30px /
		250px no-repeat;
	--icon: "\eba9";

	--wandbg: url(//kopefully.github.io/dark-academia/idris/wandbg.svg);
	--homebg: url(//kopefully.github.io/dark-academia/idris/homebg.svg);
	--thread1bg: url(//kopefully.github.io/dark-academia/idris/thread1bg.svg);
	--thread2bg: url(//kopefully.github.io/dark-academia/idris/thread2bg.svg);
	--thrdecobg: url(//kopefully.github.io/dark-academia/idris/thrdecobg.svg);
	--monthbg: url(//kopefully.github.io/dark-academia/idris/monthbg.svg) 0 /
		contain no-repeat;
	--ship1bg: url(//kopefully.github.io/dark-academia/idris/ship1bg.svg);
	--ship2bg: url(//kopefully.github.io/dark-academia/idris/ship2bg.svg);
}

.caspian {
	--name: "caspian gunning";
	--shadow: #1f1412;
	--midtone: #d0bfb6;
	--highlight: #c43c27;
	--img: url(https://i.pinimg.com/564x/a5/0d/a3/a50da3ac6116c8f15f839bcdded5eb41.jpg)
		0 / cover no-repeat;
	--icon: "\ebf7";

	--wandbg: url(https://kopefully.github.io/dark-academia/cas/wandbg.svg);
	--homebg: url(https://kopefully.github.io/dark-academia/cas/homebg.svg);
	--thread1bg: url(https://kopefully.github.io/dark-academia/cas/thread1bg.svg);
	--thread2bg: url(https://kopefully.github.io/dark-academia/cas/thread2bg.svg);
	--thrdecobg: url(https://kopefully.github.io/dark-academia/cas/thrdecobg.svg);
	--monthbg: url(https://kopefully.github.io/dark-academia/cas/monthbg.svg) 0 /
		contain no-repeat;
	--ship1bg: url(https://kopefully.github.io/dark-academia/cas/ship1bg.svg);
	--ship2bg: url(https://kopefully.github.io/dark-academia/cas/ship2bg.svg);
}

.micah {
	--name: "micah avery";
	--shadow: #262e39;
	--midtone: #c0c4b9;
	--highlight: #a44d61;
	--img: url(https://cdn.discordapp.com/attachments/567148569728122881/781137176976949278/greymicah_waifu2x_art_noise3_tta_1.png)
		0 / 250px;
	--icon: "\ec6c";

	--wandbg: url(//kopefully.github.io/dark-academia/micah/wandbg.svg);
	--homebg: url(//kopefully.github.io/dark-academia/micah/homebg.svg);
	--thread1bg: url(//kopefully.github.io/dark-academia/micah/thread1bg.svg);
	--thread2bg: url(//kopefully.github.io/dark-academia/micah/thread2bg.svg);
	--thrdecobg: url(//kopefully.github.io/dark-academia/micah/thrdecobg.svg);
	--monthbg: url(//kopefully.github.io/dark-academia/micah/monthbg.svg) 0 /
		contain no-repeat;
	--ship1bg: url(//kopefully.github.io/dark-academia/micah/ship1bg.svg);
	--ship2bg: url(//kopefully.github.io/dark-academia/micah/ship2bg.svg);
}

.serena {
	--name: "serena vang";
	--shadow: #6b3d3f;
	--midtone: #d2a39f;
	--highlight: #f0b989;
	--img: url(https://cdn.discordapp.com/attachments/567148569728122881/781138672795516959/03.png);
	--icon: "\a39";

	--wandbg: url(//kopefully.github.io/dark-academia/serena/wandbg.svg);
	--homebg: url(//kopefully.github.io/dark-academia/serena/homebg.svg);
	--thread1bg: url(//kopefully.github.io/dark-academia/serena/thread1bg.svg);
	--thread2bg: url(//kopefully.github.io/dark-academia/serena/thread2bg.svg);
	--thrdecobg: url(//kopefully.github.io/dark-academia/serena/thrdecobg.svg);
	--monthbg: url(//kopefully.github.io/dark-academia/serena/monthbg.svg) 0 /
		contain no-repeat;
	--ship1bg: url(//kopefully.github.io/dark-academia/serena/ship1bg.svg);
	--ship2bg: url(//kopefully.github.io/dark-academia/serena/ship2bg.svg);
}

.leda {
	--name: "leda darlington";
	--shadow: #2b2936;
	--midtone: #cec6d3;
	--highlight: #df872e;
	--img: url(https://cdn.discordapp.com/attachments/567148569728122881/781137690728595456/leda_me_down_slowly.jpg) -70px -40px /
		250px;
	--icon: "\a46";

	--wandbg: url(//kopefully.github.io/dark-academia/leda/wandbg.svg);
	--homebg: url(//kopefully.github.io/dark-academia/leda/homebg.svg);
	--thread1bg: url(//kopefully.github.io/dark-academia/leda/thread1bg.svg);
	--thread2bg: url(//kopefully.github.io/dark-academia/leda/thread2bg.svg);
	--thrdecobg: url(//kopefully.github.io/dark-academia/leda/thrdecobg.svg);
	--monthbg: url(//kopefully.github.io/dark-academia/leda/monthbg.svg) 0 /
		contain no-repeat;
	--ship1bg: url(//kopefully.github.io/dark-academia/leda/ship1bg.svg);
	--ship2bg: url(//kopefully.github.io/dark-academia/leda/ship2bg.svg);
}

.xerxes {
	--name: "xerxes yaxley";
	--shadow: #4a2a1b;
	--midtone: #f2bd95;
	--highlight: #d7824d;
	--img: url(https://cdn.discordapp.com/attachments/567148569728122881/781137042113167390/EEXh8UsW4AEp_Wgd.jpg) -30px -20px /
		230px;
	--icon: "\a72";

	--wandbg: url(//kopefully.github.io/dark-academia/xerxes/wandbg.svg);
	--homebg: url(//kopefully.github.io/dark-academia/xerxes/homebg.svg);
	--thread1bg: url(//kopefully.github.io/dark-academia/xerxes/thread1bg.svg);
	--thread2bg: url(//kopefully.github.io/dark-academia/xerxes/thread2bg.svg);
	--thrdecobg: url(//kopefully.github.io/dark-academia/xerxes/thrdecobg.svg);
	--monthbg: url(//kopefully.github.io/dark-academia/xerxes/monthbg.svg) 0 /
		contain no-repeat;
	--ship1bg: url(//kopefully.github.io/dark-academia/xerxes/ship1bg.svg);
	--ship2bg: url(//kopefully.github.io/dark-academia/xerxes/ship2bg.svg);
}

.seamus {
	--name: "seamus sauvage";
	--shadow: #201613;
	--midtone: #c6b8a9;
	--highlight: #80828d;
	--img: url(https://cdn.discordapp.com/attachments/717164713925935175/777231490354249798/seamus3.png)
		0 / cover;
	--icon: "\a91";

	--wandbg: url(//kopefully.github.io/dark-academia/seamus/wandbg.svg);
	--homebg: url(//kopefully.github.io/dark-academia/seamus/homebg.svg);
	--thread1bg: url(//kopefully.github.io/dark-academia/seamus/thread1bg.svg);
	--thread2bg: url(//kopefully.github.io/dark-academia/seamus/thread2bg.svg);
	--thrdecobg: url(//kopefully.github.io/dark-academia/seamus/thrdecobg.svg);
	--monthbg: url(//kopefully.github.io/dark-academia/seamus/monthbg.svg) 0 /
		contain no-repeat;
	--ship1bg: url(//kopefully.github.io/dark-academia/seamus/ship1bg.svg);
	--ship2bg: url(//kopefully.github.io/dark-academia/seamus/ship2bg.svg);
}

.phoenix {
	--name: "phoenix rathmore";
	--shadow: #24212f;
	--midtone: #bcb8d1;
	--highlight: #b29f4a;
	--img: url(https://cdn.discordapp.com/attachments/567148569728122881/781137329518673920/phoenix_ucla-1.png)
		0 / cover;
	--icon: "\a24";

	--wandbg: url(//kopefully.github.io/dark-academia/phe/wandbg.svg);
	--homebg: url(//kopefully.github.io/dark-academia/phe/homebg.svg);
	--thread1bg: url(//kopefully.github.io/dark-academia/phe/thread1bg.svg);
	--thread2bg: url(//kopefully.github.io/dark-academia/phe/thread2bg.svg);
	--thrdecobg: url(//kopefully.github.io/dark-academia/phe/thrdecobg.svg);
	--monthbg: url(//kopefully.github.io/dark-academia/phe/monthbg.svg) 0 / contain
		no-repeat;
	--ship1bg: url(//kopefully.github.io/dark-academia/phe/ship1bg.svg);
	--ship2bg: url(//kopefully.github.io/dark-academia/phe/ship2bg.svg);
}
