.idris {
	--font: honeybee;
}

.caspian,
.micah,
.leda,
.phoenix,
.seamus,
.serena,
.xerxes,
.blaise {
	--font: starry;
}

.idris {
	--iconV2: "\eba9";
}

.caspian {
	--iconV2: "\a62";
}

.micah {
	--iconV2: "\a28";
}

.serena {
	--iconV2: "\a93";
}

.leda {
	--iconV2: "\a46";
}

.xerxes {
	--iconV2: "\a72";
}

.seamus {
	--iconV2: "\a91";
}

.phoenix {
	--iconV2: "\a25";
}

.blaise {
	--iconV2: "\a96";
}
